/* font-family: 'Actor', sans-serif;
font-family: 'Calistoga', cursive;
font-family: 'Roboto', sans-serif; */
body {
  font-family: "Actor", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Calistoga", cursive;
}

body,
header,
ul,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

header {
  position: fixed;
  background-color: #42919c;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

header img {
  width: 115px;
}

.header-icon {
  width: 40px;
  padding: 10px;
}

.slogan {
  margin-top: 110px;
  margin-bottom: 70px;
  text-align: center;
}

img {
  width: 50px;
}

/* Fancy styles */

.fancy-container {
  background-color: #cd5905;
  height: 100%;
  padding-bottom: 20px;
}

.drinks-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.category-drink h3 {
  color: #fff;
  font-size: 28px;
  padding: 15px;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 3px 10px;
}

.drinks-container li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #42919c;
  width: 150px;
  max-width: 300px;
  min-width: 150px;
  height: 185px;
  margin: 0 auto;
  margin-bottom: 75px;
  padding-bottom: 15px;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 10px;
  color: #fff;
}

.drinks-container img {
  margin-top: -30%;
  min-width: 150px;
  max-width: 300px;
  width: 150px;
  height: 185px;
}

.drinks-container .img-container {
  min-width: 150px;
  max-width: 300px;
  width: 150px;
  height: 185px;
  height: 112px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.drinks-container h4 {
  font-size: 14px;
  text-decoration: underline;
}

.drinks-container .descrip-text {
  width: 75%;
  font-size: 9px;
}

.drinks-container .price-text p {
  font-size: 16px;
}

.hot-drinks-container {
  margin-top: 50px;
}

.hot-drinks-container h3 {
  padding: 50px;
  color: #42919c;
}

.hot-drinks-list li {
  background-color: #cd5905;
}

.cold-drinks-container {
  margin-top: 50px;
}

.cold-drinks-container h3 {
  padding: 50px;
  color: #cd5905;
}

/* I have only commit MAKE SURE TO FINISH
   AT NUMBER 6 C. TOMORROW FEB 18TH */
